body{
    scroll-behavior: smooth;
}

.products-info .product-name{
    font-size: 25px;
}
.products-info .price{
    font-size: 20px;
    color: #ff0000;
}
.products-info .description{
    font-size: 17px;
}

.product-name{
    font-size: 20px;
    margin-bottom: 5px;
}
.price{
    font-size: 17px;
    margin-bottom: 0;
}
.description{
    font-size: 12px;
    margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
    .product-name{
        font-size: 12px;
    }
    .description{
        font-size: 10px;
    }
    .price{
        font-size: 12px;
    }
}
.similar-item:hover{
    .product-name, .price{
        color: red;
    }
}
.fade-out {
    opacity: 0;
}


/* main */
.main{
    width: 100%;
    height: fit-content;
    margin-top: 3%;
}
.main-container{
    width: 100%;
}
.pics{
    
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.pics img {
    object-fit: cover;
    margin: 10px;
}
@media screen and (min-width:1024px) {
    .main-container{
        display: flex;
        flex-direction: row;
    }
    .pics{
        width: 50%;
        margin-left: 8%;
    }
    .pics img {
        width: 45%;
    }
    .products-info{
        width: 40%;
    }
}
@media screen and (max-width:1024px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .pics{
        width: 96%;
        margin-left: 4%;
    }
    .pics img {
        width: 42%;
    }
    .products-info{
        width: 100%;
        margin-left: 8%;
    }
}
.products-info{
    display: flex;
    flex-direction: column;
}
.products-info .form-group {
    margin-bottom: 15px;
}

.products-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.products-info select, .products-info input[type="text"]  {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control .quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

.products-info input[type="text"] {
    text-align: center;
    width: 50px;
    border: none;
}

#addToCart:not(.quantity-btn), #buyNow {
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: transform 0.2s ease;
}
#buyNow{
    background-color: red;
    color: white;
}
#buyNow:hover{
    transform: scale(1.02);
}

#shoe-form button:hover, .review button:hover{
    background-color: #ff0000;
    color: white;
    transform: scale(1.02);
}

.description{
    text-align: justify;
}
.product-detail .card-body{
    margin-right: 20%;
}

/* Reviews */
.review{
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.review-container{
    width: 80%;
    margin-left: 10%;
}

.reviewForm-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.reviewForm-container label {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    width: 80px;
}

.reviewForm-container input[type="text"],
.reviewForm-container select,
.reviewForm-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    margin-right: 20px;
}

.reviewForm-container input[type="text"] {
    width: 300px;
}
.reviewForm-container select {
    width: 50px;
}

.reviewForm-container textarea {
    width: 300px;
    resize: none;
    height: 80px;
}
.reviewForm-container button[type="submit"] {
   height: 50px;
   width: 150px;
   margin-top: 17px;
}

#reviewForm{
    display: flex;
    flex-direction: column;
}

.review button{
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}
.review .card-body{
    border: 1px solid red;
}
.review-item{
    margin: 20px 0;
}

@media screen and (min-width:1024px) {
    
}
@media screen and (max-width:1024px) {

}

.review-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.review-info span {
    color: gray;
    cursor: pointer;
}
.review-info span:hover {
    color: red;
}
.user-icon{
    width: 30px;
    height: 30px;
}
.star{
    color: rgb(255, 255, 0);
    font-size: 20px;
}

.customer-name {
    font-weight: bold;
    margin-right: 10px;
}

.review-date {
    color: #888;
}

.review-title {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
}

.review-content {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    min-height: 100px;
}

.saveReview, .cancelEditReview {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.saveReview {
    background-color: #4CAF50;
    color: white;
    width: 100px;
}

.cancelEditReview {
    background-color: #f44336;
    color: white;
    width: 50px;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-container input {
    display: none;
}

.rating-container label {
    cursor: pointer;
    font-size: 24px;
    color: #ddd;
}

.rating-container input:checked ~ label,
.rating-container label:hover,
.rating-container label:hover ~ label {
    color: #f5b301;
}





/* Similar products */
.similar{
    width: 100%;
}
.similar-container{
    width: 99%;
    margin-left: 1%;
}
.similar-products, .similar-products-top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width:1024px) {
    .similar-item{
        width: 49%;
    }
}
@media screen and (min-width:1024px) {
    .similar-item{
        width: 25%;
    }
}
.similar-item{
    margin-bottom: 20px;
    transition: opacity 0.2s ease;
}
.similar-item .product-name{
    text-align: center;
}
.similar-item .description{
    text-align: center;
}
.similar-item .price{
    text-align: center;
}
.similar-item img{
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: opacity 0.2s ease;
}
.carousel-item-innerContainer{
    display: flex;
    flex-direction: row;
}
.similar-item a {
    text-decoration: none;
    color: black;
}